<form action="/donuts" method = 'POST'>
    donut name: <input type="text" name="name" placeholder="Enter donut name">
    donut topping: <input type="text" name="topping" placeholder="Enter toppingd">
    <button type='submit' value='Submit'>Submit</button>
</form>