<html>
  <head>
    <link rel="stylesheet" href="style.css">

  </head>
<h1>Welcome to the Sweet Tooth</h1>

<a href="/shops"><input type="button" class="button" name="listShops" value="See a list of shops"></a>
<br>
<br>
<a href="/donuts"><input type="button" class="button" name="listDonuts" value="See a list of donuts"></a>
<br>
<br>
<a href="/employees"><input type="button" class="button" name="listEmployees" value="See a list of employees"></a>
  </html>