<html>
  <head>
    <link rel="stylesheet" href="style.css">

  </head>
<h1>Welcome to the Sweet Tooth</h1>

<a href="/shops"><input type="button" class="button" name="listShops" value="See a list of shops"></a>

  </html>