<form action="/shops" method = 'POST'>
    Shop name: <input type="text" name="name" placeholder="Enter shop name">
    Shop city: <input type="text" name="city" placeholder="Enter city where shop is located">
    <button type='submit' value='Submit'>Submit</button>
</form>